@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lobster&family=Pacifico&display=swap');

.gradient-background2{
    background: linear-gradient(300deg, #999999, #fff,#99ffff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
.gradient-background {
    background: linear-gradient(300deg, #228b22,black, #00ff00);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    justify-content: space-between;
  }
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
body {
    margin: 0;
    padding: 2rem;
    /* background-color: #556B2f; */
}

.header {
    text-align: center;
    justify-items:center;
    color: #fff;
    margin: 0;
    padding: 1rem;
    text-decoration: underline;
    background-color: black;
    font-family: "Pacifico", serif;
}

.corpo {
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: "Lobster", serif;
    color: #fff;
    font-weight: bold;
}
.pics{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-start;
}
.mobra{
    margin: 0;
    padding: 5rem;
    display: grid;
    align-items: center;
    justify-items: start;
    
}
.fmobra{
    margin: 1px;
    padding: 1rem;
    border: 1px solid white;
    max-width: 20rem;
    align-items: flex-start;
}
.tt {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    font-weight: bold;
    font-family: "Lobeste", serif;
}
.ecabo {
    margin: 0;
    padding: 5rem;
    display: grid;
    align-items: center; 
    justify-items: center;
}
.fecabo{
    max-width: 15rem;
    margin: 0;
    padding: 1rem;
    border: 1px solid white;

}

.cabospassados{
    margin: 0;
    padding: 5rem;
    display: grid;
    align-items:center; 
    justify-items: end;

}
.fcabospassados{
    margin: 0;
    padding: 1rem;
    border: 1px solid white;
    max-width: 18rem;
}

.separandofios{
    margin: 0px;
    padding: 5rem;
    display: grid;
    align-items: center;
    justify-content: start;
}
.fseparandofios{
    margin: 0;
    padding: 1rem;
    border: 1px solid white;
    max-width: 15rem;
}

.fprontos{
    mmargin: 0px;
    padding: 5rem;
    display: grid;
    align-items: center;
    justify-items: center;
}
.ffiosprontos{
    margin: 0;
    padding: 1rem;
    border: 1px solid white;
    max-width: 17rem;
}
.prjclimpado{
    margin: 1px;
    padding: 5rem;
    display: grid;
    align-items: center;
    justify-content: flex-end;
}
.fprjclimpado{
    margin: 0;
    padding: 1rem;
    border: 1px solid white;
    max-width: 13rem;
}

#found {
    padding: 0.6rem;
    height: 20vw;
    width: 100%;
    position: relative;
}    

#direitos{
    padding: 1rem;
    display: flex;
    justify-content: end;
}
#description {
    margin: 0;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1250px) {
    header{
        width: 50%;
    }
    .corpo {
        justify-content: center;
        padding: 0;
        display: grid;
        width: 50%;
        height: 100%;
        
       
    }
    .pics{
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: 100%;
       
       
        
    }
    .tt{
        display: flex;
        position: relative;
        color: red;
    }
}






