@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lobster&family=Pacifico&display=swap');
@media (max-width: 1250px) {
    * {
        flex-direction: column;
        height: 100%;
    }
}
body{
    margin: 0;
    padding: 2rem;
    background-color:#556B2f ;
}
header{
    text-align: center;
    border-radius: 10px;
    color: #fff;
    margin: 0;
    padding: 1rem;
    background-color: black;
    font-family: "Pacifico", serif ;
}
.fundoprofile{
    height: 20vw;
    width: 100%;
    z-index: -1;
}
.hmnavprofile{
    padding: 0.4rem;
    background-color: #fff;
    width: 100px;
    border: black 1px solid;
    border-radius: 5px;
    text-align: center;
}
