@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lobster&family=Pacifico&display=swap');

.gradient-background2{
    background: linear-gradient(300deg, #999999, #fff,#99ffff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
.gradient-background {
    background: linear-gradient(300deg, #228b22,black, #00ff00);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    justify-content: space-between;
  }
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
body {
    margin: 0;
    padding: 2rem;
    /* background-color: #556B2f; */
}

.header {
    text-align: center;
    justify-items:center;
    color: #fff;
    margin: 0;
    padding: 1rem;
    text-decoration: underline;
    background-color: black;
    font-family: "Pacifico", serif;
}

.corpo {
    max-width: 600px
    background-color: black;
    font-family: "Lobster", serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.pics{
    height: 300px;
    background: black;
    display: flex;
    justify-content: space-around;
}
.mobra {
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}
.fmobra{
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}
.tt {
    flex: none;
    padding: 0.2rem;
    text-align: center;
    max-width: 100px;
    color: #fff;
    font-weight: bold;
    font-family: "Lobeste", serif;
}
.ecabo {
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}
.fecabo{
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}

.cabospassados{
    align-items: center;
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}
.fcabospassados{
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}

.separandofios{
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}
.fseparandofios{
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}

.fprontos{
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}
.ffiosprontos{
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}

.prjclimpado{
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}
.fprjclimpado{
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}

#found {
    padding: 0.6rem;
    height: 20vw;
    width: 100%;
    position: relative;
}    

#direitos{
    display: flex;
    justify-content: end;
}
#description {
    margin: 0;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1250px) {
    header{
        width: 50%;
    }
    .corpo {
        justify-content: center;
        padding: 0;
        display: grid;
        width: 50%;
        height: 100%;
        
       
    }
    .pics{
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: 100%;
       
       
        
    }
    .tt{
        display: flex;
        position: relative;
        color: black;
    }
}





